<ul>
    <li><a href="{{ url('player') }}">Gérer les joueurs</a></li>
    <li><a href="{{ url('event') }}">Gérer les events</a></li>
    <li><a href="{{ url('add_encounter') }}">Nouveau match</a></li>
    <li><a href="{{ url('homepage') }}">Retour à l'index</a></li>
</ul>